.container {
  display: grid;
  grid-template-columns: 100px auto; /*vertical */
  grid-template-rows: 70px auto; /*linha   */
  grid-template-areas:
    "AS  HD"
    "AS  MN";
  height: 100vh;
}

[home]::first-letter {
  color: rgb(226, 43, 128);
  font-size: 16pt;
}

img {
  width: 1.7vw;
  height: 1.7vw;
}

.head {
  grid-area: HD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(230, 63, 42, 0.2);
  border-bottom: 2px solid rgb(171, 38, 189);
  padding: 7px;
}
.welcome-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
}

.welcome-user > h3 {
  display: block;
  align-self: flex-start;
}

.aside {
  grid-area: AS;
  display: flex;
  flex-direction: column;
  padding: 30px auto;
  align-items: center;
  background-color: rgb(230, 63, 42, 0.2);
}
@media screen and (min-width: 900px) {
  .container {
    grid-template-columns: 250px auto; /*vertical */
  }
}
.aside h2 {
  display: block;
  margin: 50px auto;
}
.aside ul {
  margin: 0 10px;
  list-style: none;
}
.aside a {
  font-size: 14pt;
  line-height: 35pt; /* distancia na linha */
  transition: opacity 0.2;
}
a:hover {
  opacity: 0.7;
}

[menuModal] {
  display: none;
}

.main {
  grid-area: MN;
  background-color: rgb(230, 63, 42, 0.4);
  height: calc(100vh - 70px);
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(63, 46, 78);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgb(148, 140, 155);
}

.main-card {
  display: grid;
  grid-template-columns: repeat(3 1fr);
  grid-template-areas:
    "CD1  CD2  CD3"
    "CD4  CD5  CD6";
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 450px;
  margin: 10px;
  box-shadow: 0px 20px 30px -5px rgb(63, 46, 78);
  border-radius: 8px;
  transition: all 0.5;
}
.card:hover {
  transform: translateY(10px);
  opacity: 0.8;
}

.card > img {
  display: flex;
  width: 250vw;
  height: 37vh;
}

.start {
  display: flex;
}
.start > img {
  width: 7vw;
  height: 7vw;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 10px;
  width: 25vw;
}
.nav::before {
  display: block;
  content: "";
  border-top: 1px solid rgb(63, 46, 78);
}

.name h3::first-letter {
  text-transform: uppercase;
}

.nav ul {
  list-style: none;
}
.card1 {
  grid-area: CD1;
}
.card2 {
  grid-area: CD2;
}

.card3 {
  grid-area: CD3;
}
.card4 {
  grid-area: CD4;
}
.card5 {
  grid-area: CD5;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modal:target {
  opacity: 1;
  pointer-events: auto;
}
.modal-container {
  width: 80vw;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: #fa7f72;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "MDCT   MDCT"
    "MDCI   MDCC";
  height: 300px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.title {
  grid-area: MDCT;
}
.title > h2 {
  color: #fffafa;
}

.modal-img {
  grid-area: MDCI;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 180px;
  height: 180px;
}
[modal="imagem"] {
  margin-top: -30px;
  width: 180px;
  height: 180px;
}

.modal-content {
  grid-area: MDCC;
  width: 720px;
}
.modal-content > p {
  color: #fffafa;
  text-align: left;
}

[modal="small"] {
  color: #fffafa;
}

[modal="span"] {
  color: #fffafa;
  font-size: 10pt;
}

.fechar {
  position: absolute;
  width: 30px;
  right: 5px;
  top: 5px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #ff4545;
  border-radius: 50%;
  font-size: 16px;
  color: #8d0000;
}

a {
  text-decoration: none;
}

[text] {
  color: rgb(63, 46, 78);
  font-weight: 500;
}

[logofiap] {
  margin-top: -40px;
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 1200px) {
  .main-card {
    height: auto;
    grid-template-columns: repeat(2 1fr);
    grid-template-areas:
      "CD1 CD2"
      "CD3 CD4"
      "CD5 CD6";
  }

  .main-card > a,
  span,
  small {
    font-size: 15px;
    height: auto;
  }
}
@media screen and (max-width: 930px) {
  [menuModal] {
    display: block !important;
  }
  [menuModal] > img {
    width: 30px !important;
    height: 30px !important;
  }
  .modal-img-list {
    width: 20px;
    height: 20px;
  }

  .aside a {
    display: none;
  }

  .aside ul {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .main-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  small {
    font-size: 11px;
    font-weight: 500;
  }
  [modal="imagem"] {
    position: absolute;
    top: 50px;
    left: 120px;
    width: 100px;
    height: 100px;
  }
  .modal-container {
    position: relative;
  }
  .modal-container a:hover {
    text-decoration: underline;
  }

  .modal-content {
    position: absolute;
    width: 300px;
    left: -220px;
  }
  .modal-content > p {
    font-size: 12px;
    text-align: justify;
  }
  .modal-container {
    width: 100%;
  }
}
