.container {
  display: grid;
  grid-template-columns: 100px auto; /*vertical */
  grid-template-rows: 70px auto; /*linha   */
  grid-template-areas:
    "AS  HD"
    "AS  MN";
  height: 100vh;
}

[home]::first-letter {
  color: rgb(226, 43, 128);
  font-size: 16pt;
}

img {
  width: 1.7vw;
  height: 1.7vw;
}

.head {
  grid-area: HD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(230, 63, 42, 0.2);
  border-bottom: 2px solid rgb(171, 38, 189);
  padding: 7px;
}
.welcome-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
}

.welcome-user > h3 {
  display: block;
  align-self: flex-start;
}

.aside {
  grid-area: AS;
  display: flex;
  flex-direction: column;
  padding: 30px auto;
  align-items: center;
  background-color: rgb(230, 63, 42, 0.2);
}
@media screen and (min-width: 900px) {
  .container {
    grid-template-columns: 250px auto; /*vertical */
  }
}

.aside h2 {
  display: block;
  margin: 50px auto;
}
.aside ul {
  margin: 0 10px;
  list-style: none;
}
.aside a {
  font-size: 14pt;
  line-height: 35pt; /* distancia na linha */
  transition: opacity 0.2;
}
a:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
}
.main {
  grid-area: MN;
  background-color: rgb(230, 63, 42, 0.4);
  height: calc(100vh - 70px);
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(63, 46, 78);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgb(148, 140, 155);
}
.main-content {
  display: grid;
  grid-template-columns: 70vw;
  grid-template-areas:
    " USER1   "
    " USER2  "
    " MAIN    ";
  height: 100vh;
  justify-content: center;
}
.comment-user {
  grid-area: USER1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 20px;
}
.name-comment {
  display: block;
  display: flex;
  width: 50%;
}
.img-user {
  display: flex;
  width: 70%;
  position: absolute;
  width: 120px;
  height: 200px;
  left: 70px;
  top: -40px;
}
.img-user > img {
  height: 150px;
  width: 100px;
  border-radius: 70%;
}

.fedback-user {
  grid-area: MAIN;
  margin-top: -430px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: flex-start;
  margin-left: 10px;
  padding: 0 3px;
}
.fedback-user > h3 {
  color: rgb(63, 46, 78);
  line-height: 5px;
}
.option-user {
  display: flex;
  margin: 2px 0;
  color: rgb(63, 46, 78);
}

.option-user .file-user {
  display: flex;
  flex-direction: column;
}

.option-user .select1 {
  display: flex;
  flex-direction: column;
}
.option-user .select2 {
  display: flex;
  flex-direction: column;
}

label {
  color: rgb(63, 46, 78);
}

input {
  cursor: pointer;
}

input:hover {
  opacity: 0.7;
}

.comment > span {
  color: rgb(63, 46, 78);
}
.text-user {
  color: rgb(63, 46, 78);
}
select {
  width: 10vw;
  cursor: pointer;
  margin: 2px 2px;
}
.select {
  display: flex;
  flex-direction: column;
}

h3::first-letter {
  text-transform: uppercase;
}

textarea {
  margin: 4px 0;
  padding: 10px;
}
.buton-send {
  display: flex;
  align-items: center;
  background-color: rgb(148, 140, 155);
  transition: opacity 0.2;
}

.buton-send:hover {
  opacity: 0.5;
}

.comment-user1 {
  grid-area: USER2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 20px;
}
* {
  overflow-y: hidden;
}
